@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(17, 86, 102);
    font-size: 62.5%;
    --primary-color-darker: rgb(9, 48, 56);
    font-size: 62.5%;
}

*{
    box-sizing: border-box; 
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 2.5rem;
    /* background-image: url("/07\ -\ Exercicio/assets/img/bg/ceu-garoa.jpg"); */
}


.home{
    width: 40rem; height: 10rem;
}
 
form{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    gap: 1rem;
}

.home input{
    width: 30rem; height: 3rem;
    padding: 0 1rem;
    background-color: var(--primary-color);
    border: none; border-bottom: solid var(--primary-color-darker) 0.3rem;
    color: white;
}

.home input::placeholder{
   color: rgba(255, 255, 255, 0.24);
   text-align: center;
   font-weight: bolder;
}


.home button{
    max-width: 30rem;
    background-color: var(--primary-color); color: white;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-weight: bolder;
}

.home button:hover{
    background-color: white; color: var(--primary-color);
    cursor: pointer;
}


.skeleton{
    background-color: var(--primary-color);
    position: fixed;

    height: 100%; width: 100%;
    top: 0; overflow-x: hidden;

    display: flex;
    justify-content: center; align-items: center;
}

.loader-circle {
    width: 100px; height: 100px;
    border-radius: 50%; border: 10px solid #fff;
    border-top-color: var(--primary-color-darker);
    animation: loader-circle 1s linear infinite;
  }
  
  @keyframes loader-circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.container{
    max-width: 85rem;
    margin: 5rem auto;
    background-color:#fff;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: hidden;
}

.container h1 {
    text-align: center;
}

.current-title{
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.current-content{
    justify-content: center;
}

.current-temperature{
    font-size: 7rem;
    height: 10rem;
    margin: 0;
}

.current-content-temp{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.current-content-temp p{
    display: inherit;
    align-items: center;
    justify-content: center;
}

.current-info{
    display: flex;
    flex-direction: column; 
}

.icone-grande{
    height: 10rem;
    object-fit: contain;
}




.current-temperature-text{
    background-color: #fff;
    margin: 0;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}


.week{
    margin-top: 2rem;
}

.forecast{
    display: flex;
    justify-content: space-between;
}


.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    

    
    align-items: center;

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(80, 80, 80) 0%, rgba(255,255,255,1) 100%);

    overflow-wrap: break-word;

    border-radius: 0 0 2rem 2rem;
    width: 13rem;
}

.card-icon{
    height: 10rem;
}

.max-min p{
    margin: 1rem 0rem;
    justify-content: center;
}

.max-icon, .min-icon{
    height: 5rem;
    color: #fff;
}

.max-line, .min-line{
    display: flex;
    color: #fff;
}

.max-line p, .min-line p{
    width: 5rem;
    text-align: center;
}

.card-description{
    margin: 0rem;

    font-size: 1.8rem; font-weight: bold;
    height: 7rem; min-width: 13rem;

    align-items: center;
    text-align: center;
}

.dayOfWeek{
    margin: 0;
}



@media (max-width: 440px){

    .container{
        max-width: 95vw;
    }

    .forecast{
        flex-direction: column;
        gap: 2rem;
    }

    .card{
        width: initial;
        gap: 1rem;

        display: grid;

        grid-template-columns: repeat(3, 1fr);

        background: rgb(255, 255, 255);
        background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(80, 80, 80) 0%, rgba(255,255,255,1) 100%);

        border-radius: 0 2rem 2rem 0;
    }

    .card-icon{
        margin: auto;
    }

    .day-of-week{
        padding-left: 1rem;
    }

    .max-min{
        justify-content: center;
        grid-area: 1/*linha inicial*/ / -1/*linha final*/ / 2/*coluna inicial*/ / 3/*coluna final*/;
    }


    .day-of-week{
        text-align: center;
        margin: 0;
    }
    .card-description{

        grid-column: span 3;

        font-size: 2.8rem; font-weight: bold;
        width: 100%;
        padding: 0.5rem;
        text-align: center;
    }
    

}


@media (min-width: 441px) and (max-width: 810px){

    .container{
        max-width: 95vw;
    }

    .forecast{

        display: grid;
        grid-template-columns: 1fr;

        gap: 2rem;
    }

    .card{
        width: initial;
        gap: 1rem;

        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-columns: 7rem 10rem 2fr 1fr; */

        background: rgb(255, 255, 255);
        background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(80, 80, 80) 0%, rgba(255,255,255,1) 100%);

        border-radius: 0 2rem 2rem 0;

        justify-content: center;
        align-items: center;
    }

    .card-icon{
        margin: auto; 
    }

    .day-of-week{
        text-align: center;
        margin: 0; min-width: 7rem;
    }

    .max-min{
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
    }

    .card-description{
        font-size: 1.7rem; font-weight: bold;
        width: 100%; min-width: 10rem;
        display: flex;

        justify-content: center;
    }
}